{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}


{% block content %}
<center>
    <div class="card" style="width: 50%;">
        <div class="card-header">
            Register
        </div>

        <div class="card-body">
            {% if not user.is_authenticated %}
                {% if error %}
                    <p class="lead">{{ error }}</p>
                {% endif %}
                
                <form action='' method='POST'>
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username" style="width: 50%;">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password1" placeholder="Password" style="width: 50%;">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password2" placeholder="Password confirmation" style="width: 50%;">
                    </div>

                    {% comment %} {{ form.as_p}} {% endcomment %}

                    <div><button type='submit' class="btn btn-outline-secondary">Register</button></div>
                </form>
                <p class="lead">Already have an account? Please <a href='/login'>Login</a></p>
            {% else %}
                <p class="lead">You're already logged in and cannot register. See all the articles <a href='/overview'>here</a></p>
                <p class="lead">Or would you like to <a href='/logout'>logout?</a></p>
            {% endif %}
        </div>
    </div>
</center>


{% endblock %}