{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }
        
        h1 {
            font-size: 32px;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'article.css' %}">
</head>

{% block title %}
Article
{% endblock %}


{% block content %}

    
<body>

    <div class="jumbotron">
        <h1 class="display-4">{{ article.title }}</h1>
        <p class="lead">{{ article.summary }}</p>
        <small>{{ article.date_created }}</small>
        <hr class="my-4">
        <p>{{ article.content }}</p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="/overview" role="button">Back to Overview</a>
        </p>
      </div>

      <center>
        <div class="card" style="width: 75%;">
            <div class="card">
                <div class="card-header">
                  Comments
                </div>
                <div class="card-body">
                    {% for comment in comments %}
                  <blockquote class="blockquote mb-0">
                    <p>{{comment.text}}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">on {{comment.date_created}} by {{ comment.creator|get_user_by_id }}</cite></footer>
                  </blockquote>
                  <hr>
                  {% endfor %}
                </div>
              </div>
              <form action='' method='POST' style="width=50%">
                {% csrf_token %}
        
                {{form.as_p }}
        
                <div>
                  <button type='submit' class="btn btn-outline-secondary">Add Comment</button>
                </div>
              </form>
          </div>
        </center>
      

      <div>

      </div>




</body>


{% endblock %}



</html>
