{% extends "base.html" %}

{% block title %}
  Overview
{% endblock %}


{% block content %}
    <header>
        <h1>Overview</h1>
    </header>

    <main>
        <section>
            <ul>
                {% for article in articles %}
                    <li class="lead">
                        {% comment %} <a href="/">{{article.title}}</a> {% endcomment %}
                        <a href="/article/{{ article.id }}">{{article.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}
        <div class="col">
          <div class="card h-100">
            {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h5 class="card-title"><a href="/article/{{ article.id }}">{{article.title}}</a></h5>
              <p class="card-text">{{article.summary}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
