{% extends "base.html" %}
{% load static %}

{% block title %}
  Create
{% endblock %}


{% block content %}

{% if not created %}
<center>
  <div class="card" style="width: 50%;">

    <div class="card-header">
      Create article
    </div>



    <center>
    <div class="card-body" style="width:75%">
      <form action='' method='POST' enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p }}
        <input type="file" name="file" multiple>

        <div>
          <button type='submit' class="btn btn-outline-secondary">Create article</button>
        </div>
      </form>
    </div>
  </center>
  </div>
</center>
                


{% else %}
<center>
  <div class="card" style="width: 50%;">

    <div class="card-header">
      Article created
    </div>

    <div class="card-body">
      <p class="lead">Your article was created</p>
      <a class="lead" href="/article/{{ article.id }}">{{article.title}}</a>
    </div>
  </div>
</center>



{% endif %}
    
{% endblock %}