{% load static %}

<!DOCTYPE html>


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.jpg' %}" >
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
        max-width: 60%%;
        margin: 0 auto;
      }
  
      h1 {
        font-size: 32px;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 18px;
        margin-bottom: 10px;
      }
    </style>

    <title>{% block title %}{% endblock %}</title>
  </head>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated%}
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/logout">Logout</a>
              </li>


              {% else %}
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/login">Login</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/register">Register</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/overview">Overview</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>

              {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="/article/create">Create article</a>
              </li>
              {% endif %}

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="">{{ user.username }}</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->



  <body >
    {% if messages %}
      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>



    {% comment %} <footer>
        <p class="lead">&copy; 2023 Jan Niklas Rother. All rights reserved. Back to <a href='/'>Home</a></p>
    </footer> {% endcomment %}

   